@font-face {
	font-family: 'RobotoFlex';
	src: url(../assets/RobotoFlex.ttf);
	font-weight: 200;
}

@font-face {
	font-family: 'RobotoFlexBold';
	src: url(../assets/RobotoFlex.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'RobotoFlexItalic';
	src: url(../assets/RobotoFlex.ttf);
	font-weight: 500;
	font-style: italic;
}


* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: RobotoFlex;
}

.App {
	display: grid;
	grid-template-columns: 3in 5.5in;
	grid-template-rows: 2in 100%;
	grid-template-areas:
	'header header'
	'nav main'
	;
	min-height: 11in;
	width: 8.5in;
	margin: 0 auto;
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
	border-right: solid 1px;
	border-left: solid 1px;

}

main {
	grid-area: main;
	border-right: solid 1px;

}


.Personal {
	grid-area: personal;
}

.Contact {
	grid-area: contact;
}

.Summary {
	grid-area: summary;
}

.Education {
	grid-area: education;
}
.Skills {
	grid-area: skills;
}
.Experience {
	grid-area: experience;
}