@font-face {
	font-family: 'RobotoFlex';
	src: url(../assets/RobotoFlex.ttf);
	font-weight: 200;
}

@font-face {
	font-family: 'RobotoFlexBold';
	src: url(../assets/RobotoFlex.ttf);
	font-weight: 500;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: RobotoFlex;
}

.App {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	'personal personal'
	'contact summary'
	'education experience'
	'education experience'
	'skills experience'
	;
	height: 11in;
	width: 8.5in;
	margin: 0 auto;
	border: solid;
}

.Personal {
	grid-area: personal;
}

.Contact {
	grid-area: contact;
}

.Summary {
	grid-area: summary;
}

.Education {
	grid-area: education;
}
.Skills {
	grid-area: skills;
}
.Experience {
	grid-area: experience;
}