.FormSubmit {
	padding: 4px;
	width: 36px;
}

.FormSubmit button {
	margin: 0px;
	background: transparent;
	border: none;
	cursor: pointer;

}

.FormSubmit button span {
	background: none;
	border: none;
	font-size: 18pt;
}
